svg {
  flex-shrink: 0 /* stops svgs shrinking */
}

#navbar .nav-link:hover:not(.active) {  /* hovering on a button (not when on the current page) */
  background-color: rgba(255, 255, 255, 0.15); /* changes button colour */
  transform: translateX(4px); /* moves right 4 pixels */
}
#navbar .nav-link {
  flex: 1 1 auto;             /* buttons can grow / shrink if needed*/
  display: flex; /* flex enabled */
  align-items: center;  /* items in middle - up and down */
  justify-content: center;  /* item goes in middle - left and right  */ 
  overflow: hidden; /* no scroll bar */
  width: clamp(20px, 5vw, 170px);           /* sets min and max */
  font-size: clamp(15px, 3vw, 60px);  /* sets min and max for font size  */
  transition: all 0.2s ease; /* defines transition style (otherwise would be instant) */
}
#navbar .nav-item {
  display: flex; /* flexy */
  flex: 1 1 auto; /* flex style */
}
section{
  background-color: rgba(206, 240, 238, 0.973) ;  /*background colour for main page (bootstrap overrides on sidebar) */
}

/* Hides scrollbar for some engines */
body::-webkit-scrollbar {
display:inline
}

/* Hides scrollbar for rest */
body{
overflow: auto; 
scrollbar-width: 2px; 
-ms-overflow-style: none; 
}

.img-resize { /* used to size townley-hall image */
  height: 300px;
  width: 500px;
  align-self: center;
}

.paras {/* min/max size, font for paragraph text */
  font-size: clamp(12px, 2vw, 20px); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.artist-com { /* background for some commission panels*/
  background-color: rgb(255, 123, 123);
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
}

.artist-com-img { /*size of pfp for artists*/
  height:400px;
  width:400px
}

.artist-com-desc { /* desc for artists (different to paras to be bigger) */
  font-size: clamp(15px, 2.5vw, 22px);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.img-box { /* Used to keep the two images the same size (really awkawrd otherwise) */
  flex: 1;
  height: 400px;          
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img { /* same as before, just assigning image to match size of container */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;    
}

.map-box iframe {/* fits container */
  width: 100%; 
  height: 100%;
  border: 0;
}

.artist-img-container { /* artist's img container*/
  height: clamp(250px, 35vw, 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.artist-img { /* artist's image (fit container)*/
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}